{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" enctype="multipart/form-data" method="post">
                <fieldset>
                    <legend>Edit</legend>
                    <div class="form-group">
                        <h5>Car</h5>
                        <label class="col-sm-4 control-label" for="car_make">Make</label>
                        <div class="col-sm-4 ">
                            <p class="form-control" id="car_make">{{ car.make }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="car_model">Model</label>
                        <div class="col-sm-4 ">
                            <p class="form-control" id="car_model">{{ car.model }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="car_year">Year</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="car_year" name="car[year]" value="{{ car.year }}" required type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="car_image">Image</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" accept=".jpg, .png" id="car_image" placeholder="Image" name="car[image]" type="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Engine</h5>
                        <label class="col-sm-4 control-label" for="engine_type">Type</label>
                        <div class="col-sm-4 ">
                            <select class="form-control" id="engine_type" name="engine[type]" required>
                                <option></option>
                                <option{% if car.engine.type == 'gasoline' %} selected="selected"{% endif %}>gasoline</option>
                                <option{% if car.engine.type == 'diesel' %} selected="selected"{% endif %}>diesel</option>
                                <option{% if car.engine.type == 'electric' %} selected="selected"{% endif %}>electric</option>
                                <option{% if car.engine.type == 'hybrid' %} selected="selected"{% endif %}>hybrid</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="engine_volume">Volume</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="engine_volume" value="{{ car.engine.volume }}" name="engine[volume]" required type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="engine_power">Power</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="engine_power" value="{{ car.engine.power }}" name="engine[power]" required type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('user_profile')}}">Cancel</a>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>

                    {{  form_row(carForm._token) }}
                    {{  form_row(engineForm._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

